*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: rgb(231, 231, 231);
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
}

div{
    background-color: rgb(231, 231, 231);
    padding: 30px;
    margin-top: 10px;
    border-radius: 5px;
}
p{
    text-align: center;
}

table{
    margin: 5px auto;
    
}

input{
    padding: 3px 5px;
    font-size: 15px;
    border: 1px solid silver;
    border-radius: 5px;
}
input#age{
    outline: none;
    
}